<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <script th:src="@{/js/menu.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>


    <div class="overlay"></div>
</head>
<body>


<div class="logPasBtn" style="margin: 0 auto; width: 50%; padding: 20%;">
    <label for="username"><b>Username</b></label>
    <input id="username" placeholder="" required type="text">
    <label for="psw"><b>Password</b></label>
    <input id="psw" pattern="[0-9]{7,}" placeholder="" required type="password">
    <button id="login">Login</button>
</div>


<script>
    $("#login").on('click', function () {
        var $userName = $('#username');
        var $password = $('#psw');
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                username: $userName.val(),
                password: $password.val()
            },
            success: function success(data) {
                window.location.href = "http://localhost:8080/user/" + data;
            },
            error: function error(data) {
                alert(data);
            }
        });
    });

</script>


</body>

</html>