<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <div class="overlay"></div>

</head>
<body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<div class="topnav" id="myTopnav">
    <a class="active" href="http://localhost:8080/" onclick="play()">Home</a>
    <a href="http://localhost:8080/user-profile/profile.html" onclick="play()">Account</a>
    <a href="http://localhost:8080/about" onclick="play()">About</a>
    <a class="icon" href="javascript:void(0);" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div id="test">
    <h1>User Info<span class="errorcode">: </span></h1>
    <p class="output">ID: <span th:text="${user.id}"></span></p>
    <p class="output">Name: <span th:text="${user.realName}"></span></p>
    <table>
        <thead>
        <tr>
            <th> ID</th>
            <th> Message</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${user == null}">
            <td colspan="2"> No Posts Yet</td>
        </tr>
        <tr th:each="post : ${user.posts}">
            <td><span th:text="${post.id}"> ID: </span></td>
            <td><span th:text="${post.message}"> Message: </span></td>
        </tr>
        </tbody>
    </table>
    <button id="addFriend">Add Friend</button>
</div>


<script>
    $("#addFriend").on('click', function () {
        var $userId = [[${user.id}]];
        $.ajax({
            type: "POST",
            url: "/relationship/new",
            data: {
                userIdTo: $userId,
                desiredStatus: "PENDING"
            },
            success: function success(data) {
                alert("Your request has been send");
            },
            error: function error(data) {
                alert("Error");
            }
        });
    });

</script>

</body>
</html>