<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <div th:replace="fragments/css_fragments :: css_background_layer"></div>
</head>
<body>
<div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">The page you are looking for might have been removed, had its name changed or is
        temporarily
        unavailable</p>
    <p class="output">Please try again</p>
    <p class="output">Or read server logs<span id="dots">...</span>
        <span id="more">
    <p th:text="${error}"></p>
    <button id="404Btn">Show Server Logs</button>
</div>
</body>
</html>
