<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>
<body>
<div class="overlay"></div>
<div class="topnav" id="myTopnav">
    <a class="active" href="http://localhost:8080/">Home</a>
    <a href="http://localhost:8080/user-profile">Account</a>
    <a href="http://localhost:8080/about">About</a>
</div>
</body>
</html>
